/* styles.css */

body { font-family: 'Lato', sans-serif; font-size: 11px}

ul {position:fixed; right:110px; top:40px; list-style-type: none;}
li {border: 1px solid #ddd; margin-bottom:60px;}
button { border: 2px solid #fff; height:40px}
button:hover{ border: 2px solid #ca0; }
button.active{ border: 2px solid red; }

.sidebar {z-index:1; height:100%; position:fixed; right:0px; width:360px; background-color:#eee; border-left: solid 1px lightgray;}
